@charset "ISO-8859-1";

.taskListTab button {
	float: left;
	margin-right : 5px;
	width : 40px;
}

.ui-dropdown {
	position:relative; 
}
.ui-dropdown-content {
	display:none; 
	position:relative;
	top:100%; left:0; 
	width:100%; 
}
.active > .ui-dropdown-content {
	display:block; 
}	